# Ignore all files
*

## Allow base modules
!ingress/
!monitoring/
!.gitignore
!README.md
!channel-log.md

### Ingress
!ingress/monitoring
!ingress/monitoring/sealed_wildcard_tls_secret.yaml
!ingress/monitoring/monitoring_ingress.yaml

### Monitoring
!monitoring/namespace.yaml
!monitoring/sealed_grafana_user_and_password.yaml
!monitoring/values.yaml

### Allow ArgoCD
!argocd/

#### Allow bootstrap file
!argocd/bootstrap/
!argocd/bootstrap/root_app.yaml

#### Allow applications files
!argocd/applications

!argocd/applications/argocd.yaml
!argocd/applications/sealed_secrets.yaml
!argocd/applications/monitoring.yaml

#### Allow Ingress files
!argocd/argocd/ingress

### Monitoring ingress
!argocd/applications/ingress/monitoring-ingress
!argocd/applications/ingress/monitoring-ingress/monitoring.yaml